
<div class="bg-no-repeat bg-cover bg-center relative index-page">
  <div class="absolute bg-gradient-to-b from-green-500 to-green-400 opacity-60 inset-0 z-0"></div>
  <div class="min-h-screen sm:flex sm:flex-row mx-0 justify-center">
    <%- include('./login/main.ejs') %>
    <%- include('./login/login_form.ejs') %>
  </div>
</div>
