:root {
  --cursive: cursive;
  --serif: serif;
}


/* Index Page */
.index-page {
  background-image: url(/img/login/index.jpeg);
}

.login-page-quote {
  font-family: var(--cursive);
}

.login-page-author {
  font-family: var(--serif);
}
