
<div class="space-y-2 mt-4">
  <label class="mb-5 text-sm font-medium text-<%= locals.constants.colors.PORTAL_FORM_LABEL_COLOR %>-700 tracking-wide"> <%- locals.constants.loginPagePhrases.PASSWORD_FIELD_LABEL %> </label>
  <input id="login_password_field" name="login_password_field" type="password" class="w-full content-center text-sm px-4 py-2 pl-6 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" type="" placeholder="<%- locals.constants.loginPagePhrases.PASSWORD_FIELD_PLACEHOLDER %>">
</div>
