
<a 
  href="/user/password-reset" 
  class="text-<%= locals.constants.colors.PORTAL_PAGE_MAIN_COLOR %>-400 hover:text-<%= locals.constants.colors.PORTAL_PAGE_MAIN_COLOR %>-500"
  >
  <%- locals.constants.loginPagePhrases.FORGET_PASSWORD_LABEL %>
</a>