
<a 
  href="/user/password-reset" 
  class="text-<%= locals.constantsLib.colors.PORTAL_PAGE_MAIN_COLOR %>-400 hover:text-<%= locals.constantsLib.colors.PORTAL_PAGE_MAIN_COLOR %>-500"
  >
  <%- locals.constantsLib.loginPagePhrases.FORGET_PASSWORD_LABEL %>
</a>