<div class="mb-4">
  <h3 class="text-green-500 font-semibold text-2xl"> 
    <%- locals.isLoginPage ? locals.constants.loginPagePhrases.LOGIN_BOX_HEADING : locals.constants.loginPagePhrases.REGISTER_BOX_HEADING %> 
  </h3>
  <p class="text-gray-500 text-sm mt-1"> 
    <%- locals.isLoginPage ? locals.constants.loginPagePhrases.REGISTER_BOX_HEADING : locals.constants.loginPagePhrases.REGISTER_BOX_SUB_HEADING %> 
  </p>
</div>