<% if(!locals.isLoginPage) { %>
  <div class="md:flex md:space-x-4">
    <!-- Full Name -->
    <div class="md:w-70 mb-4 md:mb-0">
      <div class="space-y-2 mt-4">
        <label class="text-sm font-medium text-gray-700 tracking-wide"> <%- locals.constants.generalInfo.FULL_NAME_FIELD_LABEL %> </label>
        <input 
          name="register_full_name" 
          id="register_full_name" 
          class="w-full text-sm px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400 pl-6" 
          type="text" 
          placeholder="<%- locals.constants.loginPagePhrases.FULL_NAME_FIELD_PLACEHOLDER %>"
        >
      </div>
    </div>
  
    <!-- Date of Birth -->
    <div class="md:w-30">
      <div class="space-y-2 mt-4">
        <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide"> <%- locals.constants.loginPagePhrases.DATE_OF_BIRTH_LABEL %> </label>
        <div class="relative max-w-sm">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 m-1 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
          </div>
          <input 
            name="register_dob"
            id="register_dob" 
            datepicker 
            datepicker-orientation="top right" 
            type="text" 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-12 p-2.5 pl-6 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="<%- locals.constants.loginPagePhrases.DATE_OF_BIRTH_PLACEHOLDER %>"
            onchange="validateDobInput()"
          >
        </div>
      </div>
    </div>
  </div>
  
  
<% } %>
