<div class="flex-col flex  self-center p-10 sm:max-w-5xl xl:max-w-2xl  z-10">
  <div class="self-start hidden lg:flex flex-col  text-white">
    <img src="" class="mb-3">
    <h1 class="mb-3 font-bold text-3xl"> <%= '"' + locals.loginPageHeading + '"' %> </h1>
    <p class="pr-3 text-right">
      <%= locals.loginPageSubHeading %>
    </p>
  </div>
</div>